<h1>All Bookings</h1>

<% if @lists.size > 0 %>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key if list.photo.attached? %>')">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Create a new booking', new_booking_path %>
