<div id="mySidenav" class="sidebar">
  <h3>Search by...<h4>
  <p style="font-size: 50;">Brand</p>
  <a href="/laptops/?search=lenovo">Lenovo</a>
  <a href="/laptops/?search=asus">Asus</a>
  <a href="/laptops/?search=apple">Apple</a>
  <a href="/laptops/?search=dell">Dell</a>
  <a href="/laptops/?search=hp">HP</a>
</div>
<div id="main">
  <button class="openbtn" onclick="toggleNav()">&#9776;</button>
</div>



<script>

function toggleNav() {
    var sidenav = document.getElementById("mySidenav"),
    main = document.getElementById("main");
    sidenav.style.width = sidenav.style.width === "250px" ? '0' : '250px';
    main.style.marginLeft = main.style.marginLeft === "250px" ? '0' :  '250px';
}

</script>
