.booking {
  display: flex;
  flex-wrap: wrap;
}

.booking-image {
  max-width: 400px;
}

.product-specs h3 {
  padding-top: 20px;
  font-size: 20px;
}

.product-specs li {
  font-size: 16px;
}

#right-side {
  width: 500px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.form-styled select {
  width: 100px;
  border-radius: 10px !important;
}
