.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(94, 91, 91, 0.9);
  color: white;
}

.footer a {
  margin-left: 2%;
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}
