.footer-page {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(94, 91, 91, 0.9);
  color: white;
}

.footer-page a {
  margin-left: 2%;
  text-decoration: none;
  color: white;
}

.footer-page a:hover {
  color: #d1e751;
}
