.container {
  position: relative;
  width: 30%;
  z-index: 1000;
}

.container h2{
  color: #d1e751;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
}
