.navbar-lewagon {
  justify-content: space-between;
  z-index: 20;
  background: white;
  width: 100%;
  position: sticky;
  top: 0px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-fluid h1 {
  display: inline;
  font-size: 25px;
}

.patatas {
  display: flex;
  justify-content: center;
}

.patatas input {
  float: center;
  border: 1.7px solid #d1e751;
  border-radius: 13px;
  padding: 6px;
  width: 400px;
  margin-right: 130px;
  font-size: 17px;
}

.patatas input:focus {
  outline: none;
}

.patatas a {
  background-color: #d1e751;
}

.nav-link {
  color: black;
  padding-top: 2px;
  border: 1.7px solid black;
  padding-bottom: 2px;
  border-radius: 15px;
}

.nav-link:hover {
  color: white;
  padding-top: 2px;
  background: black;
  padding-bottom: 2px;
  border-radius: 15px;
}
