.navbar-lewagon {
  justify-content: space-between;
  z-index: 20;
  background: white;
  width: 100%;
  position: sticky;
  top: 0px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
