.sidebar {
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  background-color: rgba(94, 91, 91, 0.9);
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 80px;
  /* Place content 60px from the top */
  transition: 0.5s;
  backdrop-filter: blur(5px);
  /* 0.5 second transition effect to slide in the sidebar */
}



/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'roboto condensed';
  color: white;
  display: block;
  transition: 0.3s;
  z-index: 2;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #d1e751;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #d1e751;
  color: white;
  padding: 10px 15px;
  border: none;
  border-bottom-right-radius: 15px;
  position: fixed;
  z-index: 4;
}

.openbtn:hover {
  background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}
